<!DOCTYPE html>
<html lang="en">
  <title>Create Quiz</title>

  <body>
    <button><a href="/">Home</a></button>
    <button><a href="/quiz">Show All Quiz</a></button>
    <% if (!locals.resultQuiz) { %>
    <h3>Create Quiz</h3>
    <form
      style="display: flex; flex-direction: column; gap: 10px"
      action="/quiz/create-quiz"
      method="post"
    >
      <input type="text" name="title" placeholder="Enter Title" required />
      <input
        type="text"
        name="description"
        placeholder="Enter Description"
        required
      />
      <button type="submit">Create</button>
    </form>
    <h3>Generate Quiz</h3>
    <form
      style="display: flex; flex-direction: column; gap: 10px"
      action="/quiz/generate"
      method="get"
    >
      <input
        type="text"
        name="promt"
        placeholder="Enter Prompt Here...."
        required
      />
      <input type="text" name="description" placeholder="Enter Description" />
      <input
        type="number"
        name="points"
        placeholder="Enter Points of each Question"
      />
      <input type="submit" value="Generate Quiz" />
    </form>
    <% } else{ %>
    <button><a href="/quiz/play/<%= quizId %>">Play Quiz</a></button>
    <button><a href="/quiz/play/leaderboard/<%= quizId %>">LeaderBoard</a></button>
    <div>
      <ul>
        <li><b>Title: <%= resultQuiz.title %></b></li>
        <li><b>Description: <%= resultQuiz.description %></b></li>
      </ul>
    </div>

    <% if (locals.isCreator === true) { %>
    <button><a href="/quiz/delete/<%= quizId %>">Delete Quiz</a></button>
    <form
      action="/quiz/edit/<%= quizId %>"
      method="post"
      style="
        margin: 1px 20px;
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      "
    >
      <h3>Add Questions:</h3>
      <input
        type="text"
        id="question"
        name="question"
        placeholder="Enter question"
        required
      />
      <input
        type="text"
        id="choice1"
        name="choice1"
        placeholder="Enter choice-1"
        required
      />
      <input
        type="text"
        id="choice2"
        name="choice2"
        placeholder="Enter choice-2"
        required
      />
      <input
        type="text"
        id="choice3"
        name="choice3"
        placeholder="Enter choice-3"
        required
      />
      <input
        type="text"
        id="choice4"
        name="choice4"
        placeholder="Enter choice-4"
        required
      />
      <input
        type="text"
        id="correctChoice"
        name="correctChoice"
        placeholder="Enter correct-choice"
        required
      />
      <input type="text" id="points" name="points" placeholder="Enter points" />
      <button type="submit">submit</button>
    </form>

    <% } %> <% if (locals.questions) { %> <% questions.forEach(q => { %>

    <ul>
      <li><b>Question: <%= q.questionId.question %></b></li>
      <li>Choice-1: <%= q.questionId.choices[0] %></li>
      <li>Choice-2: <%= q.questionId.choices[1] %></li>
      <li>Choice-3: <%= q.questionId.choices[2] %></li>
      <li>Choice-4: <%= q.questionId.choices[3] %></li>
      <% if (locals.isCreator === true) { %>
      <button>
        <a href="/quiz/delete/question/<%= quizId %>/<%= q.questionId._id %>"
          >Remove Question</a
        >
      </button>
      <button onclick="onEdit(this)">Edit</button>
      <%}%>
    </ul>

    <% }) %> <% } %> <%}%>
  </body>
  <script>
    const question = document.getElementById("question");
    const choice1 = document.getElementById("choice1");
    const choice2 = document.getElementById("choice2");
    const choice3 = document.getElementById("choice3");
    const choice4 = document.getElementById("choice4");
    const correctChoice = document.getElementById("correctChoice");
    const points = document.getElementById("points");

    function onEdit(e) {
      question.value =
        e.parentElement.children[0].innerText.split("Question: ")[1];
      choice1.value =
        e.parentElement.children[1].innerText.split("Choice-1: ")[1];
      choice2.value =
        e.parentElement.children[2].innerText.split("Choice-2: ")[1];
      choice3.value =
        e.parentElement.children[3].innerText.split("Choice-3: ")[1];
      choice4.value =
        e.parentElement.children[4].innerText.split("Choice-4: ")[1];
    }
  </script>
</html>
