<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head',{title: "Signup Form"}) %>
  <body>
    <main>
      <%- include('./components/navbar') %>
      <form class="form-box" action="/user/Signup" method="post">
        <div class="heading">
          <h4>Signup</h4>
        </div>
        <div class="form-details">
          <div
            class="form-wrapper <% if (locals.signinEmailError) { %> error <% } %>"
          >
            <input name="email" id="email" type="text" required />
            <label for="email">Email Address</label>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <small
              ><% if (locals.signinEmailError) { %> <%= signinEmailError %> <% }
              else{%>Error message<%}%></small
            >
          </div>

          <div
            class="form-wrapper<% if (locals.signinPasswordError) { %> error <% } %>"
          >
            <input
              name="password"
              id="password"
              type="password"
              title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
              required
            />
            <label for="password">Password</label>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <small
              ><% if (locals.signinPasswordError) { %> <%= signinPasswordError
              %> <% } else{%> Error message <%}%></small
            >
          </div>

          <div class="remember-box">
            <div class="remember">
              <input type="checkbox" />
              Remember Me
            </div>
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit" id="login-button">Sign Up</button>
        </div>
        <div class="not-member">
          Not a member? <a href="/user/signin">Signin now</a>
        </div>
      </form>

      <%- include('./components/footer') %>
    </main>
    <script>
      const form = document.getElementById("login-button");
      const email = document.getElementById("email");
      const password = document.getElementById("password");

      form.addEventListener("click", (e) => {
        //   e.preventDefault();
        checkInput();
      });

      function checkInput() {
        const emailValue = email.value.trim();
        const passwordValue = password.value.trim();

        if (emailValue === "") {
          setErrorFor(email, "Email cannot be blank");
        } else if (!isEmail(emailValue)) {
          setErrorFor(email, "Email is not valid");
        } else {
          setSuccessFor(email);
        }

        if (passwordValue === "") {
          setErrorFor(password, "Password cannot be blank");
        } else {
          setSuccessFor(password);
        }
      }

      function setErrorFor(input, message) {
        const formWrapper = input.parentElement;
        const small = formWrapper.querySelector("small");

        small.innerText = message;

        formWrapper.className = "form-wrapper error";
      }

      function setSuccessFor(input) {
        const formWrapper = input.parentElement;
        formWrapper.className = "form-wrapper success";
      }

      function isEmail(email) {
        var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return regex.test(email);
      }
    </script>
  </body>
</html>
